/**
 * Base
 */
body {
  background-color: $background;
  font-family: 'Courier New', Courier, monospace;
}

.icon {
  width: 35px;
  height: 35px;
}

.eye {
  fill: white;
}

.header {
  font-family: 'trueLies', Courier, monospace;
}
