/**
 * Base
 */
body {
  background-color: $brand-primary-dark;
  font-family: 'Courier New', Courier, monospace;
}

.icon {
  width: 35px;
  height: 35px;
}

.eye {
  fill: white;
}

.container {
  background-color: $brand-primary;
  height: 300px;
  width: 300px;
  display: grid;
}
