$brand-primary: #3867d6;
$brand-primary-dark: darken($brand-primary, 10%);
$brand-primary-light: lighten($brand-primary, 10%);

$brand-secondary: #4b6584;
$brand-secondary-dark: darken($brand-secondary, 10%);
$brand-secondary-light: lighten($brand-secondary, 10%);

$brand-accent: #eb3b5a;
$brand-accent-dark: darken($brand-accent, 10%);
$brand-accent-light: lighten($brand-accent, 10%);

$grey: #a5b1c2;
$grey-dark: darken($grey, 10%);
$grey-light: lighten($grey, 10%);

// severities
$critical: #b32d3a;
$major: #bb752c;
$minor: #ffd507;
$info: #00a8e8;
$ok: #32ab00;
